body {
    background-color: #000; 
    color: #fff; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
    background-image: url('/img/fast-food-background-vector.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

.container {
    max-width: 70%; 
    height: auto; 
    padding: 20px 10px; 
    background-color: #222; 
    border: 3px solid #000;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.1);
    overflow: hidden;
}

/* Columna del menú */
.menu-column {
    flex: 1;
    border-right: 3px solid #ccc; 
    padding: 20px;
}

.description-column {
    flex: 2;
    padding: 30px 20px;
    border: 2px black solid;
}
.custum-menu {
    flex: 1;
    border: 2px solid black; 
    padding: 30px 30px; 
    height: 100%; 
}

.menu-img {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 10px; 
    cursor: pointer; 
    transition: transform 0.3s ease; 
}


.menu-img:hover,
.highlight {
    transform: scale(1.05);
    border: 2px solid #007bff; 
}

/* Imagen principal */
#imagen-principal {
    width: 100%;
    max-width: 700px; 
    height: 550px; 
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    display: block;
}


.description-column img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Encabezados */
h5 {
    font-size: 2rem;
    font-weight: bold;
}


.description-column p {
    margin-top: 15px;
    font-size: 1.5rem;
    text-align: center;
}

.row {
    width: 100%;
    height: 100%;
}


#imagen-principal {
    transition: opacity 0.5s ease-in-out; 
    opacity: 1; 
}

#imagen-principal.fade-out {
    opacity: 0;
}


/* Ajustes responsivos */
@media (max-width: 768px) {
    .row {
        flex-direction: column; 
        width: 100%;
        height: auto;
    }

    .custum-menu, .description-column {
        flex: 1; 
        padding: 10px; 
        border: none; 
    }

    .menu-img {
        height: 120px; 
        width: 450px;
    }

    h5 {
        width: 300px;
        margin-left: 4.5rem;
        font-size: 1.2rem; 
    }

    .description-column p {
        width: 300px;
        font-size: 0.9rem; 
        margin-left: 4.5rem;
        
    }

    #imagen-principal {
        height: auto;
        width: 450px;
        max-width: 1000px; 
    }
}

@media (max-width: 480px) {
    .menu-img {
        height: 100px; 
        width: 170px;
    }

    h5 {
        font-size: 1rem;
    }

    .description-column p {
        font-size: 0.8rem; 
    }
}